:root {
  --font-roboto: "Roboto", Arial, sans-serif;

  --athens-gray: #e9e8ec;
  --dune: #242221;
  --dune-rgba-2: rgba(36, 34, 33, 0.2);
  --dune-rgba-5: rgba(36, 34, 33, 0.5);
  --alabaster: #f8f8f8;
  --true-v: #9174d8;
  --true-v-rgba-5: rgba(145, 116, 216, 0.5);
  --silver: #c7c7c7;
  --blue-violet: #7a61b7;
  --geraldine: #f79997;
  --geraldine-rgba-5: rgba(247, 153, 151, 0.5);
  --cornflower-blue: #727ef7;
  --rajah: #fdd3d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  background-color: var(--athens-gray);
  font-family: var(--font-roboto);
  font-size: 16px;
  color: var(--dune);
  overflow: scroll;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 1.8rem;
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}

svg path {
  fill: var(--dune);
  transition: fill 0.3s ease;
}

a {
  text-decoration: none;
  color: var(--dune);
  transition: color 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    color: var(--blue-violet);
  }
}

button {
  padding: 0.85rem;
  background-color: var(--white);
  border: 0;
  font-weight: var(--alabaster);
  font-weight: bold;
  color: var(--dune);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.focus--box-shadow:focus {
  z-index: 1;
  outline: none;
  box-shadow: 0 0 0 3px var(--true-v-rgba-5);
}

.focus--box-shadow-delete:focus {
  z-index: 1;
  outline: none;
  box-shadow: 0 0 0 3px var(--geraldine-rgba-5);
}

@media (max-width: 1800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.55rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.65rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.35rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
}

.scroll-area-sm {
  height: 70vh;
  overflow-x: hidden
}

/* Wrapper */

.wrapper {
  width: 100%;
  min-height: 100vh;
}


@media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
    min-height: 100vh;
  }
}

/* Nav */

.nav {
  display: flex;
  width: 5.6rem;
  height: calc(100vh - 19.25rem);
  min-height: 40rem;
  max-height: 50rem;
  margin: 11.53rem 2.45rem;
  padding: 7.5rem 0.825rem;
  background-color: var(--alabaster);
  border-radius: 20px;
  position: fixed;
  left: 3%;
  
 
}

.nav__list {
  flex-wrap: wrap;
  width: 100%;
}

.nav__link {
  display: block;
  padding: 10px;
  font-size: 0;
  border-radius: 10px;
  background-color: var(--alabaster);
  text-align: center;
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .nav__link:hover {
    background-color: var(--true-v);
  }

  .nav__link:hover .nav__icon path {
    fill: var(--alabaster);
  }
}

.nav__item--isActive .nav__link {
  background-color: var(--dune);
}

.nav__item--isActive .nav__link .nav__icon path {
  fill: var(--alabaster);
}

.nav__item--isActive .nav__link:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--dune-rgba-5);
}

.nav__icon {
  width: 100%;
}

@media (max-width: 1800px) {
  .nav {
    width: 4.6875rem;
    height: calc(100vh - 16.25rem);
    min-height: 35rem;
    max-height: 45rem;
    margin: 10rem 1.5rem;
    padding: 3rem 0.625rem;
  }
}

@media (max-width: 1400px) {
  .nav {
    height: calc(100vh - 21.25rem);
    margin: 8rem 1rem;
    padding: 2rem 0.625rem;
    position: fixed;
  }
}

@media (max-width: 1200px) {
  .nav {
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: auto;
    min-height: auto;
    margin: 0 1rem;
    padding: 0.5rem 0rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 10px 4px var(--dune-rgba-2);

  }


  .nav__item {
    width: 3.3rem;
    height: 3.3rem;
  }
}

@media (max-width: 992px) {
  .nav {
    width: calc(100% - 2rem);
  }

  .nav__item {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
}

/* Main */

.main {
  width: calc(100% - 46.125rem);
  margin: 0 3.75rem 6rem 1.875rem;
}

@media (max-width: 1800px) {
  .main {
    width: calc(100% - 38.8125rem);
    margin: 0 3rem 6rem 1.5rem;
  }
}

@media (max-width: 1400px) {
  .main {
    width: calc(100% - 33.8125rem);
    margin: 0 2rem 6rem 1rem;
  }
}

@media (max-width: 1200px) {
  .main {
    width: calc(100% - 27.125rem);
    left: 0%;
  }
}

@media (max-width: 992px) {
  .main {
    width: 100%;
    margin: 0 1rem 6rem 1rem;
  }
}

/* Header */

.header {
  padding: 3.05rem 0 5rem;
}

.search {
  display: flex;
  width: 100%;
  height: 3.525rem;
  max-width: 32.5rem;
  background-color: var(--alabaster);
  border-radius: 0.625rem;
}

.search__button {
  width: 4.125rem;
  height: 3.525rem;
  padding: 0;
  border-radius: 0.625rem 0 0 0.625rem;
  font-size: 0;
  background-color: var(--alabaster);
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .search__button:hover {
    background-color: var(--true-v);
  }

  .search__button:hover .search__icon path {
    fill: var(--alabaster);
  }
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.search__input {
  width: calc(100% - 4.125rem);
  padding: 0 1rem;
  border: 1px solid var(--alabaster);
  background-color: var(--alabaster);
  font-size: 1.2rem;
  color: var(--dune);
  border-radius: 0 0.625rem 0.625rem 0;
  transition: border-color 0.3s ease;
}

@media (hover: hover) {
  .search__input:hover {
    border-color: var(--true-v);
  }
}

.search__input::placeholder {
  color: var(--silver);
  font-size: 1.2rem;
}

.profile__button {
  display: flex;
  align-items: center;
  padding: 0.1625rem 0;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  background-color: var(--athens-gray);
}

.profile__button:focus {
  outline: none;
}

.profile__button:focus .profile__img {
  box-shadow: 0 0 0 3px var(--true-v-rgba-5);
}

.profile__button:focus .profile__name {
  color: var(--blue-violet);
}

@media (hover: hover) {
  .profile__button:hover {
    color: var(--blue-violet);
  }
}

.profile__name {
  margin-right: 1.5rem;
}

.profile__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

@media (max-width: 1800px) {
  .header {
    padding: 2.5rem 0 4rem;
  }

  .search__input,
  .search__input::placeholder,
  .profile__button {
    font-size: 1rem;
  }

  .search,
  .search__button {
    height: 3.125rem;
  }

  .search {
    max-width: 28.5rem;
  }
}

@media (max-width: 1400px) {
  .header {
    padding: 1.5rem 0 3rem;
  }

  .search {
    max-width: 21.5rem;
  }

  .profile__button {
    padding: 0;
  }

  .profile__img {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .search {
    max-width: calc(100% - 5rem);
  }

  .search__button {
    width: 3.125rem;
  }

  .search__input {
    width: calc(100% - 3.125rem);
  }

  .profile__name {
    display: none;
  }
}

/* Section */

.section:not(:last-child) {
  margin-bottom: 4rem;
}


.section__link {
  font-size: 1.2rem;
}

.section__link:focus {
  outline: none;
  color: var(--blue-violet);
}

.section__button {
  padding: 0.85rem 2rem;
  margin: 0 0.6rem;
  background-color: var(--alabaster);
  font-size: 0;
  border-radius: 10px;
}

.section__button--painted {
  background-color: #b2b8f5;
}

.section__button svg {
  width: 2rem;
}

.section__button--painted svg path {
  fill: var(--alabaster);
}

.section__button--painted:focus {
  box-shadow: 0 0 0 3px var(--dune-rgba-5);
}

@media (hover: hover) {
  .section__button:hover {
    background-color: var(--true-v);
  }

  .section__button:hover svg path {
    fill: var(--alabaster);
  }
}

@media (max-width: 1800px) {
  .section__link {
    font-size: 1rem;
  }

  .section__button {
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 1400px) {
  .section__button {
    padding: 0.65rem 1.25rem;
  }

  .section__button svg {
    width: 1.8rem;
  }
}

@media (max-width: 992px) {
  .section:not(:last-child) {
    margin-bottom: 2rem;
  }

  .section__header {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .section__button {
    padding: 0.6rem;
    margin: 0 0.3rem;
  }
}

/* Project Photo */

.photo {
  display: flex;
  align-items: center;
  margin-left: -3px;
}

.photo__item {
  width: 3rem;
  height: 3rem;
  margin-right: -12px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--alabaster);
  background-color: var(--dune);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.photo__item img {
  width: 6rem;
  height: 4rem;
}


@media (max-width: 1400px) {
  .photo__item {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/*  Project Date */

.date {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dune);
}

@media (max-width: 1800px) {
  .date {
    font-size: 1rem;
  }
}

/* Project */

.project__section{
  padding-left: 3rem;

}

.project__container{
  padding: 0;
  margin: 0;
}

.project__item{
  padding: 0.2rem;
}

.project__item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.project__link {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--alabaster);
  padding: 1.5rem 0.7rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

a:hover {
  text-decoration: none;
}

@media (hover: hover) {
  .project__link:hover .project__inform-name {
    color: var(--blue-violet);
  }
}

.project__wrapper {
  width: 100%;
}

.project__element {
  padding: 0 ;
}
.btn{
  width: 5px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--true-v)!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--true-v);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem var(--true-v);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color:var(--true-v) !important; 
}

.checkbox:hover{
  background-color: var(--true-v);
}

.project__inform-name {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dune);
}

@media (max-width: 1800px) {
  .project__link {
    padding: 1.2rem 0.7rem;
  }

  .project__element {
    padding: 0 rem;
  }


  .project__inform-name {
    font-size: 1rem;
  }
}


/* Status */

.status {
  font-size: 0.8rem;
}

.status--in-progress {
  color: white;
  background-color: var(--cornflower-blue);
}


/* Edit/Delete button */

.edit-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.8rem;
  border-radius: 90px;
  background-color: #b2b8f5;
}


.delete-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.6rem;
  border-radius: 90px;
  background-color: var(--rajah);
}
@media (hover: hover) {
  .edit-btn:hover  {
    background-color: var(--true-v);
  }
  .delete-btn:hover  {
    background-color: var(--geraldine);
  }
}



@media (max-width: 992px) {
  .setting {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }
}



/* modal section */
#task-modal-add {
  background-color: var(--true-v);
}

.priority {
  font-size: 1.5rem;
}

.priority-medium {
  color: #FF9F19;
}

@media (hover: hover) {
  .banner__button:hover {
    background-color: var(--true-v);
  }
}

@media (max-width: 1800px) {
  .banner__title {
    font-size: 2.2rem;
  }

  .banner__description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 992px) {
  .banner {
    max-width: 480px;
    margin: auto;
    padding: 2rem;
  }

  .banner__title {
    margin-bottom: 1.8rem;
    font-size: 2rem;
  }

  .banner__description {
    margin-bottom: 2rem;
  }

  .banner__button {
    padding: 1.15rem 1rem;
    font-size: 1rem;
  }
}


